{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Timetable{% endblock title %}</h1>

{% endblock %}

{% block content %}
<!-- <div class="container">
    {% for message in get_flashed_messages() %}
        <div class="alert alert-success">
        </div>
    {% endfor %}
</div> -->

<form action="{{ url_for('timetable.subject_register') }}" method="post">
    <button type="submit" name="action">subject register</button>
    <!-- <button type="submit" name="action" value="edit">subject edit</button> -->
</form>

<form action="{{ url_for('timetable.timetable_register') }}" method="post">
    <button type="submit" name="action">timetable register</button>
    <!-- <button type="submit" name="action" value="edit">subject edit</button> -->
</form>


{% if tables %}
<form action="{{ url_for('timetable.select_table') }}" method="post">
    {% for table in tables %}
    <ul>
    <input type="radio" name="table_id" value="{{ table[0] }}">
{{ table[1] }}
</ul>
    
        
    {% endfor %}
    <br>
    <button type="submit" name="action">select timetable</button>
</form>
{% endif %}

<h2>時間割表</h2>

{% if table_name %}
<h3>{{ table_name }}</h3>
<form action="{{ url_for('timetable.index') }}" method="post">
    <button type="submit" value="subject_delete" name="subject_delete">Delete</button>

    <table>
        <tr>
            {% for day in dayoftheweek %}
                <th class="gray-cell">{{ day }}</th>
            {% endfor %}
            <th></th>
        </tr>
        {% for n  in range(1, vertical_length+1 ) %}
            <tr>
                {% for day in days_order %}
                    {% if n==1 %} <td class="blue-cell">
                    {% elif  n==2 %} <td class="red-cell">
                    {% elif  n==3 %} <td class="gray-cell">
                    {% elif  n==4 %} <td class="green-cell">
                    {% elif  n==5 %} <td class="random-cell">
                    {% elif  n==6 %} <td class="orange-cell">
                    {% elif  n==7 %} <td class="yellow-cell">
                    {% endif%}
                    <input type="checkbox" name="checkbox" value="{{ day }}_{{ n }}">

                    <button class="my-button" type="submit" name="action" value="{{ day }}_{{ n }}">
                        {{ timetable_data[loop.index-1][n-1] }}
                    </button>
                    </td>

                {% endfor %} 
                <td class="gray-cell">{{ n }}限</td>
            </tr>
        {% endfor %}
    </table>
    </form>
   
    {% endif %}
{% endblock %}






