{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Subjects Selection{% endblock title %}</h1>

{% endblock %}

{% block content %}

<form action="{{ url_for('timetable.index') }}" method="post">
        <p>subject</p>   
        {% for subject in subject_all %}
            <ul>
                <input type="radio" name="selected_subject" value="{{ subject[0] }}">
                {{ subject[0] }}
            </ul>
        {% endfor %}


    <button type="submit" value="save">save</button>
</form>

{% endblock %}






