{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Assignments Registarion{% endblock title %}</h1>

{% endblock %}

{% block contents %}
<p></p>
<form action="{{ url_for('subject_register') }}" method="post">
    <p>subject</p>   
    <input type="text" id="subject_name" name="subject_name" required>
    <p>teacher</p>   
    <input type="text" id="teacher" name="teacher" required>
    <p>class room</p>   

    <p>assignments</p>
    <div align="left">
        <label for="name">contents</label>
        <input type="text" id="contents" name="contents">
        <label for="name">deadline</label>
        <input type="date" id="deadline" name="deadline">
    </div>

    <button type="submit" name="action" value="delete">delete</button>
    <button type="submit" name="action" value="save">save</button>
</form>




