{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Timetable{% endblock title %}</h1>

{% endblock %}

{% block content %}

<div class="button-container">
<form action="{{ url_for('timetable.timetable_register') }}" method="post">
    <button type="submit" name="action" >timetable register</button>
    <!-- <button type="submit" name="action" value="edit">subject edit</button> -->
</form>
</div>
<hr>

{% if tables %}
<form action="{{ url_for('timetable.select_table') }}" method="post">
   
    {% for table in tables %}
    <li class="custom-radio-label">
        <input type="radio" name="table_id" value="{{ table[0] }}" class="custom-radio">
        <label>{{ table[1] }}</label>
      </li>    
    {% endfor %}

    <br>

    <div class="button-container">
        <!-- ボタン1 -->
        <button type="submit" class="custom-button" name="action" value="select">select timetable</button>
        <!-- ボタン2 -->
        <button type="submit" class="custom-button" name="action" value="delete">delete timetable</button>
    </div>
</form>
{% endif %}
<hr>

<h2>時間割表</h2>

{% if table_name %}
<h3 style="text-align: center;">{{ table_name }}</h3>
<hr>
<div class="button-container">
<form action="{{ url_for('timetable.subject_register') }}" method="post">
    <button type="submit" name="action">subject register</button>
    <!-- <button type="submit" name="action" value="edit">subject edit</button> -->
</form>

<form action="{{ url_for('timetable.index') }}" method="post">
    <div class="button-container"></div>
    {% if delete_checked %}
    <button type="submit" value="subject_delete" name="subject_delete">delete</button>
    {% endif %}
    {% if not delete_checked %}
    <button type="submit" value="select_delete" name="select_delete">select delete</button>
    {% endif %}
</div>



    <table>
        <tr>
            {% for day in dayoftheweek %}
                <th class="gray-cell">{{ day }}</th>
            {% endfor %}
            <th></th>
        </tr>
        <p> {{ background_color }}</p>
        {% for n  in range(1, vertical_length+1 ) %}
            <tr>
                {% for day in days_order %}
                <td style="background-color: yellowgreen;">
                    {% if delete_checked %}
                    
                    <input type="checkbox" name="checkbox" value="{{ day }}_{{ n }}">
                   
                    {% endif %}
                    
                    <!-- <p> {{subject_color[0]}}</p>    -->
                    
                    {% set outer_loop = loop %}
                    {% if not timetable_data[loop.index-1][n-1] == "" %}
                    {% for subject, color in subject_color %}
                        {%if subject == timetable_data[outer_loop.index-1][n-1]%}
                            <button class="my-button" type="submit" name="action" value="{{ day }}_{{ n }}" style="background-color: {{color}};">
                                {{ timetable_data[outer_loop.index-1][n-1] }}
                            </button>
                        {% endif %}
                    {% endfor %}
                    {% endif %}
                    {% if  timetable_data[loop.index-1][n-1] == "" %}
                        <button class="my-button" type="submit" name="action" value="{{ day }}_{{ n }}">
                            {{ timetable_data[loop.index-1][n-1] }}
                        </button>
                    {% endif %}


                    </td>


                {% endfor %} 
                <td class="gray-cell">{{ n }}限</td>
            </tr>
        {% endfor %}
    </table>

    </form>
   
    {% endif %}


{% endblock %}






