{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Timetable{% endblock title %}</h1>

{% endblock %}

{% block content %}
<!-- <div class="container">
    {% for message in get_flashed_messages() %}
        <div class="alert alert-success">
        </div>
    {% endfor %}
</div> -->

<form action="{{ url_for('timetable.subject_register') }}" method="post">
    <button type="submit" name="action">subject register</button>
    <!-- <button type="submit" name="action" value="edit">subject edit</button> -->
</form>

<form action="{{ url_for('timetable.timetable_register') }}" method="post">
    <button type="submit" name="action">timetable register</button>
    <!-- <button type="submit" name="action" value="edit">subject edit</button> -->
</form>


{% if tables %}
<form action="{{ url_for('timetable.select_table') }}" method="post">
    {% for table in tables %}
    <ul>
    <input type="radio" name="table_id" value="{{ table[0] }}">
{{ table[1] }}
</ul>
    
        
    {% endfor %}
    <br>
    <button type="submit" name="action" value="select">select timetable</button>
    <button type="submit" name="action" value="delete">delete timetable</button>
</form>
{% endif %}

<h2>時間割表</h2>

{% if table_name %}
<h3>{{ table_name }}</h3>
<form action="{{ url_for('timetable.index') }}" method="post">
    {% if delete_checked %}
    <button type="submit" value="subject_delete" name="subject_delete">Delete</button>
    {% endif %}
    {% if not delete_checked %}
    <button type="submit" value="select_delete" name="select_delete">Select Delete</button>
    {% endif %}

    <table>
        <tr>
            {% for day in dayoftheweek %}
                <th class="gray-cell">{{ day }}</th>
            {% endfor %}
            <th></th>
        </tr>
        <p> {{ background_color }}</p>
        {% for n  in range(1, vertical_length+1 ) %}
            <tr>
                {% for day in days_order %}
                <td style="background-color: yellowgreen;">
                    {% if delete_checked %}
                    <input type="checkbox" name="checkbox" value="{{ day }}_{{ n }}">
                    {% endif %}
                    
                    <!-- <p> {{subject_color[0]}}</p>    -->
                    
                    {% set outer_loop = loop %}
                    {% if not timetable_data[loop.index-1][n-1] == "" %}
                    {% for subject, color in subject_color %}
                        {%if subject == timetable_data[outer_loop.index-1][n-1]%}
                            <button class="my-button" type="submit" name="action" value="{{ day }}_{{ n }}" style="background-color: {{color}};">
                                {{ timetable_data[outer_loop.index-1][n-1] }}
                            </button>
                        {% endif %}
                    {% endfor %}
                    {% endif %}
                    {% if  timetable_data[loop.index-1][n-1] == "" %}
                        <button class="my-button" type="submit" name="action" value="{{ day }}_{{ n }}">
                            {{ timetable_data[loop.index-1][n-1] }}
                        </button>
                    {% endif %}


                    </td>


                {% endfor %} 
                <td class="gray-cell">{{ n }}限</td>
            </tr>
        {% endfor %}
    </table>

    </form>
   
    {% endif %}
{% endblock %}






