{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Subjects Selection{% endblock title %}</h1>

{% endblock %}

{% block content %}

<form action="{{ url_for('timetable.index') }}" method="post">
         
        {% for subject in subject_all %}
            <li class="custom-radio-label">
                <input type="radio" name="selected_subject" value="{{ subject[0] }}" class="custom-radio">
                <label>{{ subject[0] }}</label>
            </li>
        {% endfor %}

        <div class="button-container">
    <button type="submit" value="save">save</button>
    </div>
</form>

{% endblock %}






