{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Subjects Registration{% endblock title %}</h1>

{% endblock %}

{% block content %}

<form action="{{ url_for('timetable.subject_register') }}" method="post">

    <p>subject</p>   
    <input type="text" id="subject_name" name="subject_name" value="{{ subject_data['subject_name'] }}"required>
    <p>teacher</p>   
    <input type="text" id="teacher" name="teacher" value="{{ subject_data['teacher_name'] }}">
    <p>class room</p>   
    <input type="text" id="classroom" name="classroom" value="{{ subject_data['classroom'] }}">

    <p>assignments</p>
    <p>contents</p>
    <input type="text" id="contents" value="{{ assignments_data['contents'] }}" name="contents">
    <p>deadline</p>
    <input type="date" id="deadline" name="deadline" value="{{ assignments_data['deadline'] }}" >

    <!-- <p>color</p>
    <label style="color: #00FFFF;">
    <input type="radio" name="color" value="#00FFFF">
    blue
    </label>
    <label style="color: #FF0000;">
    <input type="radio" name="color" value="#FF0000">
    red
    </label>
    <label style="color:  #FFFF00;">
    <input type="radio" name="color" value="#FFFF00">
    yellow
    </label> -->
    <label>color
        <input type="color" name="color">
    </label>

    <button type="submit" name="action" value="delete">delete</button>
    <button type="submit" name="action" value="save">save</button>
</form>


{% endblock %}






